* {
	margin: 0;
	padding: 0;
}

.iti--allow-dropdown{
	width: 80%;
}

p.navbar-text {
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	letter-spacing: 0.3px;
	font-size: 14px;
}

/* html {
	height: 310px;
} */

body {
	background: var(--gbw-body-color)!important;
	height: 290px;
	width: 500px;
}

.navbar-brand {
	font-weight: 400;
}

.bg-light , .navbar-fixed-bottom {
	background: var(--gbw-header-color)!important
}

.bg-purple{
	background-color: var(--gbw-header-color)!important
}

a.navbar-brand {
	color: #fff !important;
}

.heading {
	font-family: sans-serif;
	letter-spacing: 0.6px;
	color: #2f2f2f;
}

.container-fluid {
	margin-top: 10px;
}

.form-control {
	margin-top: 6px;
	height: 40px;
	border-radius: 6px;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.btn-primary {
	letter-spacing: 1px;
	margin-right: 10px;
	height: 40px;
}

.button-section {
	margin: auto;
	text-align: center;
	margin-top: 8px;
}

.alert-heading {
	margin-top: 25px;
}

#login,
#show_record {
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: underline;
	color: var(--gbw-header-color)!important;
}

.helpline {
	font-weight: 500;
	letter-spacing: 0.5px;
	font-family: initial;
}

#advanceSearch {
	float: right;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: underline;
	color: rgb(58, 79, 175) !important;
}

#refer {
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: underline;
	background: red;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 7px;
	color: rgb(255, 255, 255) !important;
	animation: animate 1.5s linear infinite;
}

@keyframes animate {
	0% {
		opacity: 0.2;
	}

	15% {
		opacity: 0.3;
	}

	30% {
		opacity: 0.6;
	}

	45% {
		opacity: 0.9;
	}

	60% {
		opacity: 1;
	}

	75% {
		opacity: 0.6;
	}

	85% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.2;
	}
}

#addKeyword {
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
	color: #FFFFFF !important;
}

#keywordFile {
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 2;
	border-radius: 4px;
}

.midator {
	text-align: center;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

label {
	margin-bottom: 0;
}

input[type='text'] {
	margin-top: 0;
}

body.register {
	height: 480px;
	width: 590px;
}

.alert {
	position: absolute;
	top: 0px;
	width: 100%;
	margin-left: -15px;
	height: 56px;
}

.otpButton {
	border-top-right-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
}

body.login {
	height: 280px;
	width: 450px;
}

body.advance-search {
	width: 500px !important;
}

.button-section {
	padding-bottom: 12px;
}

.registerSection {
	margin-bottom: 10px;
}

.registerSection,
.loginSection,
.dataScrapSection {
	position: relative;
}

.btn-primary{
	background-color: var(--gbw-header-color)!important;
	border-color: var(--gbw-header-color)!important;
}

:root {
	--gbw-header-color:#ff4a51;  
	--gbw-body-color:#ffffff; 
	--gbw-font-color:#ffffff;	
}
